${css.selector} {
    background-image: url(%%${ticker.name}%%);
    background-repeat: repeat-x;
    background-position-y: 0px;
    display: block;
    width: 100%;
    height: 30px;
    animation-name: ${ticker.name};
    -moz-animation-name: ${ticker.name};
    -webkit-animation-name: ${ticker.name};
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-duration: ${ticker.scrollDuration}s;
    -moz-animation-duration: ${ticker.scrollDuration}s;
    -webkit-animation-duration: ${ticker.scrollDuration}s;
    color: white;
    content: " ";
    position: absolute;
    top: ${ticker.top};
}

@keyframes ${ticker.name} {
    0% {
        background-position: ${ticker.width}px 0px;
        background-position: -webkit-calc(50% + ${ticker.width}px) 0px;
        background-position: calc(50% + ${ticker.width}px) 0px;
    }
    100% {
        background-position: 0 0px;
        background-position: -webkit-calc(50% + 0) 0px;
        background-position: calc(50% + 0)  0px;
    }
}
